{"openapi":"3.1.0","info":{"title":"Coasty Public API","version":"1.0.0","summary":"Computer Use Agents, scheduled automation, and managed VMs.","description":"# Coasty Public API\n\nCoasty is a Computer Use Agent (CUA) platform: predict actions from screenshots,\nprovision managed VMs, and run scheduled automation against them.\n\n## Authentication\n\nAll endpoints (except `/v1/triggers/webhook/{webhook_id}` and health checks) require an API key.\nPass it as either:\n\n- `X-API-Key: sk-coasty-live-...` (or `sk-coasty-test-...` for sandbox)\n- `Authorization: Bearer sk-coasty-live-...`\n\nThe external webhook endpoint does not use an API key, but it is authenticated:\nsend the HMAC-SHA256 `Coasty-Signature` credential documented on that operation.\n\nTest-mode keys (`sk-coasty-test-*`) hit the same validation paths as live keys but\nreturn mock VMs / mock action results and never bill credits — ideal for CI.\n\n## Pricing & budgeting\n\nPer-call rates (subject to change — see `lib/pricing/tiers.ts METERED_RATES`):\n\n| Endpoint | Credits |\n|---|---|\n| `POST /v1/predict` | ~5 |\n| `POST /v1/sessions` | 10 |\n| `POST /v1/sessions/{id}/predict` | ~4 |\n| `POST /v1/ground` | ~3 |\n| `POST /v1/parse` | 0 (free) |\n\nLong-running CUA jobs orchestrated through the dashboard (not this API) bill at\n10 credits/minute with a 20-credit minimum. Subscription tiers (`free | starter |\nprofessional | enterprise`) gate feature availability (e.g. custom system prompts),\nschedule counts, and the maximum trajectory length.\n\n## Errors\n\nEvery error response uses the same envelope:\n\n```json\n{\n  \"error\": {\n    \"code\": \"INSUFFICIENT_CREDITS\",\n    \"message\": \"Need 5, have 2.\",\n    \"type\": \"billing_error\",\n    \"request_id\": \"req_a1b2c3d4e5f6\",\n    \"retryable\": false,\n    \"retry_with_same_idempotency_key\": false\n  }\n}\n```\n\nInclude the `request_id` in support requests.\n\n## Idempotency\n\nOperations marked `x-idempotency: reserve-and-replay` accept `Idempotency-Key:\n<≤128 chars of [A-Za-z0-9_-:]>`. Replays\nof the same key + identical body return the original response (with\n`X-Coasty-Idempotent-Replay: true`) for 24 h. Reusing the key with a different body\nis a 422 `IDEMPOTENCY_KEY_REUSED`.\nOperations marked `x-idempotency: webhook-payload-dedup` instead deduplicate the\nsame webhook id + identical raw body for 60 seconds; they do not accept an\nIdempotency-Key.\n\n## Clients & MCP\n\nUse the HTTP API directly from any language. Official TypeScript and Python SDKs\nare not currently published; generate a client from this OpenAPI document if needed.\n- MCP server: `npx -y @coasty/mcp` (see `x-mcp-server`)\n\n## Reference\n\nComplete (machine-readable) spec is hosted at `/.well-known/openapi.json` and\n`/openapi.json` (Stripe / Vercel conventions).","contact":{"name":"Coasty Developer Support","url":"https://coasty.ai/support","email":"founders@coasty.ai"},"license":{"name":"MIT","identifier":"MIT"},"termsOfService":"https://coasty.ai/terms"},"servers":[{"url":"https://coasty.ai","description":"Production"},{"url":"https://coasty.ai","description":"Sandbox — use sk-coasty-test-* keys against the same host. No billing, mock VMs."}],"security":[{"apiKey":[]},{"bearerAuth":[]}],"tags":[{"name":"predict","description":"Stateless CUA action prediction and grounding."},{"name":"sessions","description":"Stateful CUA sessions with persistent trajectory."},{"name":"machines","description":"Provision and control managed VMs."},{"name":"schedules","description":"Cron and one-shot scheduled CUA jobs."},{"name":"triggers","description":"Webhook and chain triggers for schedules."},{"name":"keys","description":"API key management and usage reporting."},{"name":"runs","description":"Autonomous task runs — the agent drives a task to completion on a machine."},{"name":"workflows","description":"Versioned, branching multi-step automations (DSL) and their runs."}],"paths":{"/v1/predict":{"post":{"tags":["predict"],"operationId":"predict","summary":"Stateless action prediction","description":"Send a screenshot + instruction; receive a list of structured actions to execute on the target machine. Costs ~5 credits/call (varies by CUA version, screenshot size, trajectory length). See lib/pricing/tiers.ts METERED_RATES for budgeting.","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"},{"$ref":"#/components/parameters/XLLMProvider"},{"$ref":"#/components/parameters/XLLMApiKey"},{"$ref":"#/components/parameters/XLLMModel"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PredictRequest"},"example":{"screenshot":"<base64-png>","instruction":"Click the Sign In button","cua_version":"v5"}}}},"responses":{"200":{"description":"Predicted actions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PredictResponse"}},"text/event-stream":{"schema":{"type":"string"},"description":"SSE keepalive stream ending with a JSON result event. Request with Accept: text/event-stream."}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Remaining":{"$ref":"#/components/headers/CreditsRemaining"},"X-RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"Idempotency-Replayed":{"$ref":"#/components/headers/IdempotencyReplayed"},"X-Coasty-Idempotent-Replay":{"$ref":"#/components/headers/IdempotentReplay"},"Idempotency-Status":{"$ref":"#/components/headers/IdempotencyStatus"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"predict","x-required-scopes":["predict"],"x-scope-policy":"required","x-billing-code":"predict","x-offering":"cua","x-feature-flag":"PUBLIC_CUA_API_ENABLED","x-idempotency":"reserve-and-replay"}},"/v1/sessions":{"post":{"tags":["sessions"],"operationId":"createSession","summary":"Create a stateful CUA session","description":"Persistent session with a 2-hour (7200s) idle TTL, reset on each predict/reset; expires_at is returned. A predict/reset against an expired or unknown session is a 404 SESSION_NOT_FOUND. Maintains trajectory across predictions. Concurrent-session limits are tier- and deployment-configured; clients must handle 429 responses instead of hardcoding a tier limit.","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"},{"$ref":"#/components/parameters/XLLMProvider"},{"$ref":"#/components/parameters/XLLMApiKey"},{"$ref":"#/components/parameters/XLLMModel"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionRequest"}}}},"responses":{"200":{"description":"Session created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Remaining":{"$ref":"#/components/headers/CreditsRemaining"},"X-RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"Idempotency-Replayed":{"$ref":"#/components/headers/IdempotencyReplayed"},"X-Coasty-Idempotent-Replay":{"$ref":"#/components/headers/IdempotentReplay"},"Idempotency-Status":{"$ref":"#/components/headers/IdempotencyStatus"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"session","x-required-scopes":["session"],"x-scope-policy":"required","x-billing-code":"session_create","x-offering":"cua","x-feature-flag":"PUBLIC_CUA_API_ENABLED","x-idempotency":"reserve-and-replay"},"get":{"tags":["sessions"],"operationId":"listSessions","summary":"List active sessions","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Active sessions for this key.","content":{"application/json":{"schema":{"type":"object","properties":{"sessions":{"type":"array","items":{"$ref":"#/components/schemas/SessionInfoResponse"}}}}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Remaining":{"$ref":"#/components/headers/CreditsRemaining"},"X-RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"Idempotency-Replayed":{"$ref":"#/components/headers/IdempotencyReplayed"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"session","x-required-scopes":["session"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"cua","x-feature-flag":"PUBLIC_CUA_API_ENABLED","x-idempotency":"none"}},"/v1/sessions/{session_id}":{"parameters":[{"$ref":"#/components/parameters/SessionId"}],"get":{"tags":["sessions"],"operationId":"getSession","summary":"Get session info","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Session info.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionInfoResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Remaining":{"$ref":"#/components/headers/CreditsRemaining"},"X-RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"Idempotency-Replayed":{"$ref":"#/components/headers/IdempotencyReplayed"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"session","x-required-scopes":["session"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"cua","x-feature-flag":"PUBLIC_CUA_API_ENABLED","x-idempotency":"none"},"delete":{"tags":["sessions"],"operationId":"deleteSession","summary":"Delete a session","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionMutationResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Remaining":{"$ref":"#/components/headers/CreditsRemaining"},"X-RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"Idempotency-Replayed":{"$ref":"#/components/headers/IdempotencyReplayed"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"session","x-required-scopes":["session"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"cua","x-feature-flag":"PUBLIC_CUA_API_ENABLED","x-idempotency":"none"}},"/v1/sessions/{session_id}/predict":{"parameters":[{"$ref":"#/components/parameters/SessionId"}],"post":{"tags":["sessions"],"operationId":"sessionPredict","summary":"Predict within an existing session","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionPredictRequest"}}}},"responses":{"200":{"description":"Predicted actions for the next step.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionPredictResponse"}},"text/event-stream":{"schema":{"type":"string"},"description":"SSE keepalive stream ending with a JSON result event. Request with Accept: text/event-stream."}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Remaining":{"$ref":"#/components/headers/CreditsRemaining"},"X-RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"Idempotency-Replayed":{"$ref":"#/components/headers/IdempotencyReplayed"},"X-Coasty-Idempotent-Replay":{"$ref":"#/components/headers/IdempotentReplay"},"Idempotency-Status":{"$ref":"#/components/headers/IdempotencyStatus"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"session","x-required-scopes":["session"],"x-scope-policy":"required","x-billing-code":"session_predict","x-offering":"cua","x-feature-flag":"PUBLIC_CUA_API_ENABLED","x-idempotency":"reserve-and-replay"}},"/v1/sessions/{session_id}/reset":{"parameters":[{"$ref":"#/components/parameters/SessionId"}],"post":{"tags":["sessions"],"operationId":"resetSession","summary":"Reset session state","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Reset.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionMutationResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Remaining":{"$ref":"#/components/headers/CreditsRemaining"},"X-RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"Idempotency-Replayed":{"$ref":"#/components/headers/IdempotencyReplayed"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"session","x-required-scopes":["session"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"cua","x-feature-flag":"PUBLIC_CUA_API_ENABLED","x-idempotency":"none"}},"/v1/ground":{"post":{"tags":["predict"],"operationId":"ground","summary":"Coordinate grounding","description":"Find (x, y) for a described UI element. ~3 credits/call.","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroundRequest"}}}},"responses":{"200":{"description":"Grounded coordinates.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroundResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Remaining":{"$ref":"#/components/headers/CreditsRemaining"},"X-RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"Idempotency-Replayed":{"$ref":"#/components/headers/IdempotencyReplayed"},"X-Coasty-Idempotent-Replay":{"$ref":"#/components/headers/IdempotentReplay"},"Idempotency-Status":{"$ref":"#/components/headers/IdempotencyStatus"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"ground","x-required-scopes":["ground"],"x-scope-policy":"required","x-billing-code":"ground","x-offering":"cua","x-feature-flag":"PUBLIC_CUA_API_ENABLED","x-idempotency":"reserve-and-replay"}},"/v1/parse":{"post":{"tags":["predict"],"operationId":"parse","summary":"Parse pyautogui code into structured actions","description":"Free, no LLM call. Returns structured Action objects.","security":[{"apiKey":[]},{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParseRequest"}}}},"responses":{"200":{"description":"Parsed actions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParseResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Remaining":{"$ref":"#/components/headers/CreditsRemaining"},"X-RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"Idempotency-Replayed":{"$ref":"#/components/headers/IdempotencyReplayed"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"parse","x-required-scopes":["parse"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"cua","x-feature-flag":"PUBLIC_CUA_API_ENABLED","x-idempotency":"none"}},"/v1/models":{"get":{"tags":["predict"],"operationId":"listModels","summary":"List available models, CUA versions, and action types","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Model catalog.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelsResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Remaining":{"$ref":"#/components/headers/CreditsRemaining"},"X-RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"Idempotency-Replayed":{"$ref":"#/components/headers/IdempotencyReplayed"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":null,"x-required-scopes":[],"x-scope-policy":"none","x-billing-code":null,"x-offering":"cua","x-feature-flag":"PUBLIC_CUA_API_ENABLED","x-idempotency":"none"}},"/v1/usage":{"get":{"tags":["keys"],"operationId":"getUsage","summary":"Usage summary for a billing period","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"name":"period","in":"query","required":false,"schema":{"type":"string","pattern":"^[0-9]{4}-(0[1-9]|1[0-2])$","description":"ISO YYYY-MM with a real month 01..12 (defaults to current month)."}}],"responses":{"200":{"description":"Usage summary.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageSummaryResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Remaining":{"$ref":"#/components/headers/CreditsRemaining"},"X-RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"Idempotency-Replayed":{"$ref":"#/components/headers/IdempotencyReplayed"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"usage","x-required-scopes":["usage"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"cua","x-feature-flag":"PUBLIC_CUA_API_ENABLED","x-idempotency":"none"}},"/v1/idempotency/{key}":{"parameters":[{"$ref":"#/components/parameters/IdempotencyKeyPath"}],"get":{"tags":["keys"],"operationId":"getIdempotencyResult","summary":"Fetch a result by Idempotency-Key","description":"Collect a prior mutating call's result by its Idempotency-Key alone (for clients that lost the original response). 'completed' returns the original body + original_status; 'processing' means it is still running; unknown/expired is 404.","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"The cached result (completed) or its in-flight status (processing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdempotencyLookupResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-auth-mode":"api_key","x-required-scope":null,"x-required-scopes":[],"x-scope-policy":"none","x-billing-code":null,"x-offering":"idempotency","x-feature-flag":"PUBLIC_IDEMPOTENCY_API_ENABLED","x-idempotency":"none"}},"/v1/keys":{"post":{"tags":["keys"],"operationId":"createApiKey","summary":"Create an API key","description":"Returns the raw key ONCE. Subsequent reads only return the prefix.","security":[{"apiKey":[]},{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAPIKeyRequest"}}}},"responses":{"200":{"description":"Key created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIKeyResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Remaining":{"$ref":"#/components/headers/CreditsRemaining"},"X-RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"Idempotency-Replayed":{"$ref":"#/components/headers/IdempotencyReplayed"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"keys","x-required-scopes":["keys"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"cua","x-feature-flag":"PUBLIC_CUA_API_ENABLED","x-idempotency":"none"},"get":{"tags":["keys"],"operationId":"listApiKeys","summary":"List API keys","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Keys.","content":{"application/json":{"schema":{"type":"object","properties":{"keys":{"type":"array","items":{"$ref":"#/components/schemas/APIKeyListItem"}}}}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Remaining":{"$ref":"#/components/headers/CreditsRemaining"},"X-RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"Idempotency-Replayed":{"$ref":"#/components/headers/IdempotencyReplayed"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"keys","x-required-scopes":["keys"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"cua","x-feature-flag":"PUBLIC_CUA_API_ENABLED","x-idempotency":"none"}},"/v1/keys/{key_id}":{"parameters":[{"name":"key_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":128,"pattern":"^[A-Za-z0-9_-]+$"}}],"delete":{"tags":["keys"],"operationId":"revokeApiKey","summary":"Revoke an API key","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Revoked.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevokeAPIKeyResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Remaining":{"$ref":"#/components/headers/CreditsRemaining"},"X-RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateRemaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateReset"},"Idempotency-Replayed":{"$ref":"#/components/headers/IdempotencyReplayed"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"keys","x-required-scopes":["keys"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"cua","x-feature-flag":"PUBLIC_CUA_API_ENABLED","x-idempotency":"none"}},"/v1/llm/keys":{"get":{"tags":["keys"],"operationId":"listLlmKeys","summary":"List stored BYOK LLM keys","description":"Scope: `llm_keys` (granted to new live keys by default). Requires a live API key; sandbox keys cannot inspect the production credential store. Returns non-secret metadata only — provider, sha256-prefix fingerprint, timestamps. The key itself is never returned.","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Stored keys (non-secret metadata).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListLlmKeysResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"llm_keys","x-required-scopes":["llm_keys"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"llm_keys","x-feature-flag":"PUBLIC_LLM_KEYS_API_ENABLED","x-idempotency":"none"}},"/v1/llm/keys/{provider}":{"parameters":[{"name":"provider","in":"path","required":true,"description":"The BYOK provider: anthropic or openai. 'managed' has no storable key and any other value is 422 LLM_PROVIDER_UNSUPPORTED.","schema":{"type":"string","enum":["anthropic","openai"]}}],"put":{"tags":["keys"],"operationId":"storeLlmKey","summary":"Store (upsert) your own provider LLM key","description":"Scope: `llm_keys`. Requires a live API key; sandbox keys cannot modify the production credential store. Stores the caller's own Anthropic/OpenAI API key for BYOK, AES-256-GCM encrypted at rest. The plaintext key exists only in this request body; every response carries only the non-secret sha256-prefix `key_fingerprint` — the key is never returned, logged, or echoed again. Naturally idempotent (an upsert), so no Idempotency-Key is needed.","security":[{"apiKey":[]},{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreLlmKeyRequest"},"example":{"api_key":"sk-ant-your_key_here"}}}},"responses":{"200":{"description":"Key stored (fingerprint only; the key is never returned again).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreLlmKeyResponse"},"example":{"provider":"anthropic","key_fingerprint":"a1b2c3d4","stored":true}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"llm_keys","x-required-scopes":["llm_keys"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"llm_keys","x-feature-flag":"PUBLIC_LLM_KEYS_API_ENABLED","x-idempotency":"none"},"delete":{"tags":["keys"],"operationId":"deleteLlmKey","summary":"Delete your stored BYOK LLM key","description":"Scope: `llm_keys`. Requires a live API key; sandbox keys cannot modify the production credential store. Deletes the stored key for the provider — 404 LLM_KEY_NOT_FOUND when none exists. Schedules that opted into this provider then fail loudly at fire time with LLM_KEY_NOT_CONFIGURED; they never silently run on Coasty's platform keys.","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteLlmKeyResponse"},"example":{"deleted":true}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"llm_keys","x-required-scopes":["llm_keys"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"llm_keys","x-feature-flag":"PUBLIC_LLM_KEYS_API_ENABLED","x-idempotency":"none"}},"/v1/health":{"get":{"tags":["predict"],"operationId":"health","summary":"Public CUA API health check","description":"No authentication required.","security":[],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponse"}}}}},"x-auth-mode":"public","x-required-scope":null,"x-required-scopes":[],"x-scope-policy":"none","x-billing-code":null,"x-offering":"cua","x-feature-flag":null,"x-idempotency":"none"}},"/v1/machines":{"post":{"tags":["machines"],"operationId":"provisionMachine","summary":"Provision a new VM","description":"Managed VM provisioning. Linux defaults are cheap (1 cpu / 2 GB / 10 GB) and bill at agent-minute rates. Test keys (sk-coasty-test-*) return mock VMs with no cloud calls.","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProvisionRequest"}}}},"responses":{"200":{"description":"Machine provisioned (or in-progress).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProvisionResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Coasty-Idempotent-Replay":{"$ref":"#/components/headers/IdempotentReplay"},"Idempotency-Status":{"$ref":"#/components/headers/IdempotencyStatus"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"machines:write","x-required-scopes":["machines:write"],"x-scope-policy":"required","x-billing-code":"machine_runtime","x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"reserve-and-replay"},"get":{"tags":["machines"],"operationId":"listMachines","summary":"List machines","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":200,"default":50}}],"responses":{"200":{"description":"Machines list.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListMachinesResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"machines:read","x-required-scopes":["machines:read"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"none"}},"/v1/machines/health":{"get":{"tags":["machines"],"operationId":"machinesHealth","summary":"Machines API health check","security":[],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponse"}}}}},"x-auth-mode":"public","x-required-scope":null,"x-required-scopes":[],"x-scope-policy":"none","x-billing-code":null,"x-offering":"machines","x-feature-flag":null,"x-idempotency":"none"}},"/v1/machines/pricing":{"get":{"tags":["machines"],"operationId":"getMachinePricing","summary":"Get the live machine runtime rate card","description":"Scope: `machines:read`. Returns runtime rates, one-time charges, billing granularity, insufficient-funds behavior, and TTL bounds.","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Current machine pricing and lease policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachinePricingResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"machines:read","x-required-scopes":["machines:read"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"none"}},"/v1/billing/active":{"get":{"tags":["machines"],"operationId":"getActiveBilling","summary":"What is billing me right now","description":"Lists every API-billed machine currently metering your wallet (running OR stopped — stopped bills at the storage-only rate). current_run_rate_cents_per_hour is the summed instantaneous burn rate. Test-mode keys return an empty fleet (active: [], rate 0). 1 credit = 1 cent.","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Currently-metering fleet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingActiveResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"machines:read","x-required-scopes":["machines:read"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"billing","x-feature-flag":"PUBLIC_BILLING_API_ENABLED","x-idempotency":"none"}},"/v1/machines/{machine_id}":{"parameters":[{"$ref":"#/components/parameters/MachineId"}],"get":{"tags":["machines"],"operationId":"getMachine","summary":"Get machine details","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Machine.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMachineResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"machines:read","x-required-scopes":["machines:read"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"none"},"delete":{"tags":["machines"],"operationId":"terminateMachine","summary":"Terminate a machine","description":"Irreversible. Stops billing the agent-minute rate.","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Termination requested.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LifecycleResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"machines:write","x-required-scopes":["machines:write"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"none"},"patch":{"tags":["machines"],"operationId":"updateMachine","summary":"Set, extend, or clear a machine auto-destroy lease","description":"Scope: `machines:write`. `ttl_minutes=0` clears auto-destroy; values 5..10080 schedule termination from now.","security":[{"apiKey":[]},{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMachineRequest"}}}},"responses":{"200":{"description":"Updated lease.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMachineResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"machines:write","x-required-scopes":["machines:write"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"none"}},"/v1/machines/{machine_id}/start":{"parameters":[{"$ref":"#/components/parameters/MachineId"}],"post":{"tags":["machines"],"operationId":"startMachine","summary":"Start a stopped machine","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Started.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LifecycleResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"machines:write","x-required-scopes":["machines:write"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"none"}},"/v1/machines/{machine_id}/stop":{"parameters":[{"$ref":"#/components/parameters/MachineId"}],"post":{"tags":["machines"],"operationId":"stopMachine","summary":"Stop a running machine","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Stopped.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LifecycleResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"machines:write","x-required-scopes":["machines:write"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"none"}},"/v1/machines/{machine_id}/restart":{"parameters":[{"$ref":"#/components/parameters/MachineId"}],"post":{"tags":["machines"],"operationId":"restartMachine","summary":"Restart a running machine","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Restart requested.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LifecycleResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"machines:write","x-required-scopes":["machines:write"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"none"}},"/v1/machines/{machine_id}/snapshot":{"parameters":[{"$ref":"#/components/parameters/MachineId"}],"post":{"tags":["machines"],"operationId":"snapshotMachine","summary":"Snapshot a machine","description":"Captures a restorable machine image. Requires `snapshots:write`. The configured one-time fee is charged before dispatch. A conclusive pre-creation rejection is refunded; a timeout, 5xx, or malformed post-dispatch result may already have created the image and returns terminal 503 SNAPSHOT_OUTCOME_UNKNOWN without a blind refund/re-execution.","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"responses":{"200":{"description":"Snapshot created.","headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Coasty-Idempotent-Replay":{"$ref":"#/components/headers/IdempotentReplay"},"Idempotency-Status":{"$ref":"#/components/headers/IdempotencyStatus"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"snapshots:write","x-required-scopes":["snapshots:write"],"x-scope-policy":"required","x-billing-code":"snapshot","x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"reserve-and-replay"}},"/v1/machines/{machine_id}/screenshot":{"parameters":[{"$ref":"#/components/parameters/MachineId"}],"get":{"tags":["machines"],"operationId":"getScreenshot","summary":"Capture a screenshot of the machine","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Screenshot.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScreenshotResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"machines:read","x-required-scopes":["machines:read"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"none"}},"/v1/machines/{machine_id}/connection":{"parameters":[{"$ref":"#/components/parameters/MachineId"}],"get":{"tags":["machines"],"operationId":"getConnectionDetails","summary":"Get SSH key + VNC password (HIGH-RISK)","description":"Returns plaintext credentials. Gated by `connection:read` scope. Response is `Cache-Control: no-store`. Store credentials in a secrets manager — Coasty cannot re-issue them; rotate by terminating + reprovisioning.","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Connection details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionDetailsFull"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"connection:read","x-required-scopes":["connection:read"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"none"}},"/v1/machines/{machine_id}/actions":{"parameters":[{"$ref":"#/components/parameters/MachineId"}],"post":{"tags":["machines"],"operationId":"executeAction","summary":"Execute a single action on the machine","description":"Required scope varies by command: terminal_* → `terminal:exec`; file_* → `files:read|write`; browser_execute → `browser:execute`; everything else → `actions:exec`. See the ActionRequest command enum and /v1/models for current capabilities.","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionRequest"}}}},"responses":{"200":{"description":"Action result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionResultResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Coasty-Idempotent-Replay":{"$ref":"#/components/headers/IdempotentReplay"},"Idempotency-Status":{"$ref":"#/components/headers/IdempotencyStatus"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"per-command","x-required-scopes":["actions:exec","terminal:exec","files:read","files:write","browser:execute"],"x-scope-policy":"dynamic","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"reserve-and-replay"}},"/v1/machines/{machine_id}/actions/batch":{"parameters":[{"$ref":"#/components/parameters/MachineId"}],"post":{"tags":["machines"],"operationId":"executeBatch","summary":"Execute up to 50 sequential actions","description":"Shell `&&`-style semantics: aborts on first failure when `stop_on_error=true` (default).","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchActionRequest"}}}},"responses":{"200":{"description":"Per-step results.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchActionResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Coasty-Idempotent-Replay":{"$ref":"#/components/headers/IdempotentReplay"},"Idempotency-Status":{"$ref":"#/components/headers/IdempotencyStatus"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"union-of-command-scopes","x-required-scopes":["actions:exec","terminal:exec","files:read","files:write","browser:execute"],"x-scope-policy":"dynamic","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"reserve-and-replay"}},"/v1/machines/{machine_id}/browser/{op}":{"parameters":[{"$ref":"#/components/parameters/MachineId"},{"name":"op","in":"path","required":true,"description":"Browser sub-op. One of: open, navigate, click, type, dom, clickables, state, info, scroll, close, screenshot, wait, list-tabs, open-tab, close-tab, switch-tab.","schema":{"type":"string","enum":["open","navigate","click","type","dom","clickables","state","info","scroll","close","screenshot","wait","list-tabs","open-tab","close-tab","switch-tab"]}}],"post":{"tags":["machines"],"operationId":"browserOp","summary":"Browser convenience sub-API","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrowserOpRequest"}}}},"responses":{"200":{"description":"Browser action result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionResultResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Coasty-Idempotent-Replay":{"$ref":"#/components/headers/IdempotentReplay"},"Idempotency-Status":{"$ref":"#/components/headers/IdempotencyStatus"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"actions:exec","x-required-scopes":["actions:exec"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"reserve-and-replay"}},"/v1/machines/{machine_id}/terminal":{"parameters":[{"$ref":"#/components/parameters/MachineId"}],"post":{"tags":["machines"],"operationId":"terminalExec","summary":"Execute a shell command","description":"Output truncated VM-side to 5000 chars. Hard cap 120s (Cloudflare edge timeout). Requires `terminal:exec` scope.","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TerminalRequest"}}}},"responses":{"200":{"description":"Terminal output.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionResultResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Coasty-Idempotent-Replay":{"$ref":"#/components/headers/IdempotentReplay"},"Idempotency-Status":{"$ref":"#/components/headers/IdempotencyStatus"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"terminal:exec","x-required-scopes":["terminal:exec"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"reserve-and-replay"}},"/v1/machines/{machine_id}/files/{op}":{"parameters":[{"$ref":"#/components/parameters/MachineId"},{"name":"op","in":"path","required":true,"description":"File sub-op. Read scope: read, exists, list, list-directory, download, list-downloads. Write scope: write, edit, append, delete, delete-directory.","schema":{"type":"string","enum":["read","exists","list","list-directory","download","list-downloads","write","edit","append","delete","delete-directory"]}}],"post":{"tags":["machines"],"operationId":"filesOp","summary":"File operations sub-API","description":"Read ops require `files:read`; mutating ops require `files:write`. Body capped at 50 MB.","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilesOpRequest"}}}},"responses":{"200":{"description":"File op result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionResultResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Coasty-Idempotent-Replay":{"$ref":"#/components/headers/IdempotentReplay"},"Idempotency-Status":{"$ref":"#/components/headers/IdempotencyStatus"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"files:read-or-files:write","x-required-scopes":["files:read","files:write"],"x-scope-policy":"dynamic","x-billing-code":null,"x-offering":"machines","x-feature-flag":"PUBLIC_MACHINES_API_ENABLED","x-idempotency":"reserve-and-replay"}},"/v1/schedules":{"post":{"tags":["schedules"],"operationId":"createSchedule","summary":"Create a schedule","description":"Cron-based or one-shot (run_at) scheduled task. Schedule-count limits are tier- and deployment-configured; clients must handle the structured limit response rather than hardcoding plan values. BYOK: schedules store only the non-secret llm preference; at fire time the CURRENT stored key is used — if it was deleted, firings fail loudly with LLM_KEY_NOT_CONFIGURED instead of silently running on platform keys.","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"},{"$ref":"#/components/parameters/XLLMProvider"},{"$ref":"#/components/parameters/XLLMApiKey"},{"$ref":"#/components/parameters/XLLMModel"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCreateRequest"}}}},"responses":{"200":{"description":"Schedule created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Coasty-Idempotent-Replay":{"$ref":"#/components/headers/IdempotentReplay"},"Idempotency-Status":{"$ref":"#/components/headers/IdempotencyStatus"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"schedules:write","x-required-scopes":["schedules:write"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"schedules","x-feature-flag":"PUBLIC_SCHEDULES_API_ENABLED","x-idempotency":"reserve-and-replay"},"get":{"tags":["schedules"],"operationId":"listSchedules","summary":"List schedules","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":200,"default":50}}],"responses":{"200":{"description":"Schedules.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListSchedulesResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"schedules:read","x-required-scopes":["schedules:read"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"schedules","x-feature-flag":"PUBLIC_SCHEDULES_API_ENABLED","x-idempotency":"none"}},"/v1/schedules/health":{"get":{"tags":["schedules"],"operationId":"schedulesHealth","summary":"Schedules API health check","security":[],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponse"}}}}},"x-auth-mode":"public","x-required-scope":null,"x-required-scopes":[],"x-scope-policy":"none","x-billing-code":null,"x-offering":"schedules","x-feature-flag":null,"x-idempotency":"none"}},"/v1/schedules/{schedule_id}":{"parameters":[{"$ref":"#/components/parameters/ScheduleId"}],"get":{"tags":["schedules"],"operationId":"getSchedule","summary":"Get schedule details","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Schedule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"schedules:read","x-required-scopes":["schedules:read"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"schedules","x-feature-flag":"PUBLIC_SCHEDULES_API_ENABLED","x-idempotency":"none"},"patch":{"tags":["schedules"],"operationId":"updateSchedule","summary":"Update a schedule","security":[{"apiKey":[]},{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleUpdateRequest"}}}},"responses":{"200":{"description":"Updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"schedules:write","x-required-scopes":["schedules:write"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"schedules","x-feature-flag":"PUBLIC_SCHEDULES_API_ENABLED","x-idempotency":"none"},"delete":{"tags":["schedules"],"operationId":"deleteSchedule","summary":"Delete a schedule","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteScheduleResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"schedules:write","x-required-scopes":["schedules:write"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"schedules","x-feature-flag":"PUBLIC_SCHEDULES_API_ENABLED","x-idempotency":"none"}},"/v1/schedules/{schedule_id}/pause":{"parameters":[{"$ref":"#/components/parameters/ScheduleId"}],"post":{"tags":["schedules"],"operationId":"pauseSchedule","summary":"Pause a schedule","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Paused.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"schedules:write","x-required-scopes":["schedules:write"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"schedules","x-feature-flag":"PUBLIC_SCHEDULES_API_ENABLED","x-idempotency":"none"}},"/v1/schedules/{schedule_id}/resume":{"parameters":[{"$ref":"#/components/parameters/ScheduleId"}],"post":{"tags":["schedules"],"operationId":"resumeSchedule","summary":"Resume a paused schedule","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Resumed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"schedules:write","x-required-scopes":["schedules:write"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"schedules","x-feature-flag":"PUBLIC_SCHEDULES_API_ENABLED","x-idempotency":"none"}},"/v1/schedules/{schedule_id}/run":{"parameters":[{"$ref":"#/components/parameters/ScheduleId"}],"post":{"tags":["schedules"],"operationId":"runScheduleNow","summary":"Trigger a schedule run immediately","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunScheduleRequest"}}}},"responses":{"200":{"description":"Run queued.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunScheduleResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Coasty-Idempotent-Replay":{"$ref":"#/components/headers/IdempotentReplay"},"Idempotency-Status":{"$ref":"#/components/headers/IdempotencyStatus"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"schedules:write","x-required-scopes":["schedules:write"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"schedules","x-feature-flag":"PUBLIC_SCHEDULES_API_ENABLED","x-idempotency":"reserve-and-replay"}},"/v1/schedules/{schedule_id}/runs":{"parameters":[{"$ref":"#/components/parameters/ScheduleId"}],"get":{"tags":["schedules"],"operationId":"listScheduleRuns","summary":"List historical runs of a schedule","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["running","completed","failed","skipped","cancelled","insufficient_credits"]}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":200,"default":50}}],"responses":{"200":{"description":"Runs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListScheduleRunsResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"schedules:read","x-required-scopes":["schedules:read"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"schedules","x-feature-flag":"PUBLIC_SCHEDULES_API_ENABLED","x-idempotency":"none"}},"/v1/schedules/{schedule_id}/runs/{run_id}":{"parameters":[{"$ref":"#/components/parameters/ScheduleId"},{"name":"run_id","in":"path","required":true,"schema":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[A-Za-z0-9_\\-]+$"}}],"get":{"tags":["schedules"],"operationId":"getScheduleRun","summary":"Get a single run","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Run.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleRunRecord"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"schedules:read","x-required-scopes":["schedules:read"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"schedules","x-feature-flag":"PUBLIC_SCHEDULES_API_ENABLED","x-idempotency":"none"}},"/v1/schedules/{schedule_id}/triggers":{"parameters":[{"$ref":"#/components/parameters/ScheduleId"}],"get":{"tags":["triggers"],"operationId":"listTriggers","summary":"List triggers attached to a schedule","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Triggers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListTriggersResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"schedules:read","x-required-scopes":["schedules:read"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"schedules","x-feature-flag":"PUBLIC_SCHEDULES_API_ENABLED","x-idempotency":"none"},"post":{"tags":["triggers"],"operationId":"addTrigger","summary":"Add a trigger (webhook | chain)","description":"For `webhook`, the response includes a one-time HMAC `webhook_secret` — store it now or rotate the trigger. Chain triggers support a max depth of 5.","security":[{"apiKey":[]},{"bearerAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TriggerCreateRequest"}}}},"responses":{"200":{"description":"Trigger created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TriggerResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"},"X-Coasty-Idempotent-Replay":{"$ref":"#/components/headers/IdempotentReplay"},"Idempotency-Status":{"$ref":"#/components/headers/IdempotencyStatus"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"triggers:write","x-required-scopes":["triggers:write"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"schedules","x-feature-flag":"PUBLIC_SCHEDULES_API_ENABLED","x-idempotency":"reserve-and-replay"}},"/v1/schedules/{schedule_id}/triggers/{trigger_id}":{"parameters":[{"$ref":"#/components/parameters/ScheduleId"},{"$ref":"#/components/parameters/TriggerId"}],"delete":{"tags":["triggers"],"operationId":"removeTrigger","summary":"Remove a trigger","security":[{"apiKey":[]},{"bearerAuth":[]}],"responses":{"200":{"description":"Removed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTriggerResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"X-Coasty-Key-Kind":{"$ref":"#/components/headers/KeyKind"},"X-Coasty-Test-Mode":{"$ref":"#/components/headers/TestMode"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"$ref":"#/components/responses/PayloadTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-auth-mode":"api_key","x-required-scope":"triggers:write","x-required-scopes":["triggers:write"],"x-scope-policy":"required","x-billing-code":null,"x-offering":"schedules","x-feature-flag":"PUBLIC_SCHEDULES_API_ENABLED","x-idempotency":"none"}},"/v1/triggers/webhook/{webhook_id}":{"parameters":[{"$ref":"#/components/parameters/WebhookId"}],"post":{"tags":["triggers"],"operationId":"fireWebhook","summary":"Fire a schedule from an HMAC-authenticated external webhook","description":"No Coasty API key is used. The request is authenticated with HMAC-SHA256 over `<unix_ts>.<body>` using the secret from trigger creation. Send either `Coasty-Signature: t=<ts>,v1=<sig>` or its `X-Coasty-Signature` compatibility alias. Replay window 5 minutes. Body capped at 1 MB. Repeated identical (webhook_id, body) within 60s are deduped.","security":[{"webhookHmac":[]},{"webhookHmacLegacy":[]}],"parameters":[{"name":"Coasty-Signature","in":"header","required":false,"description":"Primary HMAC credential. Exactly one supported signature header is required.","schema":{"type":"string","examples":["t=1714900000,v1=4d2f...e7"]}},{"name":"X-Coasty-Signature","in":"header","required":false,"description":"Compatibility alias for Coasty-Signature. Send one signature header, not both.","schema":{"type":"string","examples":["t=1714900000,v1=4d2f...e7"]}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true}},"text/plain":{"schema":{"type":"string"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"responses":{"200":{"description":"Webhook accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookFireResponse"}}},"headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/PaymentRequired"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"413":{"description":"Body exceeds 1 MB.","headers":{"X-Coasty-Request-Id":{"$ref":"#/components/headers/CoastyRequestId"},"Retry-After":{"$ref":"#/components/headers/RetryAfter"},"X-Credits-Charged":{"$ref":"#/components/headers/CreditsCharged"},"X-Credits-Refunded":{"$ref":"#/components/headers/CreditsRefunded"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"error":{"code":"PAYLOAD_TOO_LARGE","message":"An error occurred. See `code` for details.","type":"validation_error","request_id":"req_a1b2c3d4e5f6","retryable":false,"retry_with_same_idempotency_key":false}}}}},"429":{"description":"Webhook per-minute rate limit exce
[...]
